body{
    background-color:burlywood;
}
.div_header{
    background-color: rgb(97, 97, 97);
    color: pink;
    text-decoration: uppercase;
    border-radius: 10px;
    padding-left: 20px;
    border: 2px solid azure;
}